footer {
    background-color: $color_1;
    width : 100%;
    display : flex;
    justify-content: center;
    padding:2%;
    
    #social_media {
        display: flex;
        justify-content: center;
        list-style: none;
        gap : 100px;
        padding : 15px;
    }

    .fa-brands:hover {
        color:$color_3;
    }

    nav {
        width:600px;
        border:1px solid white;
        p{
            text-align: center;
        }
    }
}
