#first_container {
    background-image:url("./../../images/interstellar.jpg");
    background-size:cover; 
}

#search {
    display:flex;
    background-color:rgb(207, 203, 203);
    color:rgb(143, 141, 141);
    width:75%;
    height:40px;
    border-radius:8px;
    border-color: rgb(207, 203, 203);
}

.search_bar {
    display:flex;
    justify-content: center;
    padding:120px 15px;
}

#tendency {
    
}

