main {
    display: flex;
    justify-content: space-around;

    div{
        display:flex;
        margin :30px;
    }

    ul{
        list-style: none;
        margin:20px;
        padding: 30px;
        background: linear-gradient(180deg, #433C87 0%, #433c8700 100%);

        li {
            padding:30px;
            text-align: center;
        }
    }

}

#right {
    background-image: url(./../../images/losange.webp);
    display: flex;
    align-items: center;
    padding:400px;


}
