.join {
    color:white;
    text-align: center;
    font-weight: bold;
    width: 350px;
    height: 74px;
    border-radius: 20px;
    background:$color_4;
}

.join:hover {
    background-color:#8B81EC;
    transform:scale(1.15);
    transition:500ms;
}



